{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
Чабрец от кашля

Настои и отвары из чабреца обладают дезинфицирующим и отхаркивающим действием. Их назначают при заболеваниях дыхательных путей, при простуде, астме и ангине.

Рецепт 1. В один стакан горячей воды требуется насыпать одну столовую ложку сухого чабреца, дать один час настояться, затем процедить. Принимать лекарство следует по 1–2 столовых ложки три раза в день.

Рецепт 2. Смешайте сок из свежего алоэ с мёдом с 1 столовой ложкой настоя чабреца в пропорции 1:1. Полученное лекарство выпейте.

Рецепт 3. 3–4 столовых ложки чабреца необходимо смешать с душицей и мятой по 1 ложке, залить кипятком, настаивать всю ночь. Пьют средство как чай.

Рецепт 4. Отвар или настой сразу после приготовления нужно оставить в ёмкости, не процеживая, и накинуть на голову полотенце. Необходимо дышать над паром около 15 мин, потом укрыть шею тёплым платком или шарфом, сразу после процедуры не рекомендуется выходить на улицу.
https://vk.com/zdrava_predkov?w=wall-79050990_3364…
На В.Соловьёва готовилось покушение. Кто выпускает опасных преступников на свободу.mp4
И снова с Вами я тётка Алёна, здравствуйте. Как оказалось, на телеведущего Владимира Соловьева и других журналистов — в список входили также Дмитрий Киселев, Ольга Скабеева, Маргарита Симоньян, Тигран Кеосаян и Евгений Попов готовилось покушение по по заданию украинских спецслужб.
Наши правоохранители раскрыли этот заговор и арестовали Андрея пронского, который ранее был уже признан и неоднократно лечившийся от шизофрении.
Теперь его признали дееспособным и ему грозит пожизненное заключение.
О том, что Андрей Пронский был признан дееспособным, «Ъ» сообщил его защитник. При этом адвокат не стал вдаваться в подробности, кто и как поставил Бладме (от английского blood man — «кровавый человек») новый диагноз, но отметил, что материалы в его отношении теперь не будут выделены из уголовного дела для принятия к обвиняемому мер медицинского характера.
Ранее Андрей Пронский неоднократно привлекался к уголовной ответственности. В 2016 году Красногорский горсуд Московской области освободил его от наказания по обвинениям, предусмотренным п. «ж» ч. 2 ст. 105 УК РФ (убийство, совершенное по мотивам национальной ненависти), п. «б» ч. 2 ст. 244 УК РФ (надругательство над телами умерших) и ч. 1 ст. 282 УК РФ (возбуждение национальной ненависти). Тогда Андрей Пронский, по данным СКР, жестоко убил человека, выложив видеозапись происшедшего в интернет.
Однако обвиняемому был поставлен диагноз «параноидальная шизофрения непрерывного типа течения». В результате его отправили не в колонию, а на принудительное лечение.
Через несколько месяцев после того, как в 2021 году Чеховский горсуд перевел молодого человека, уже имевшего II группу инвалидности, на амбулаторное лечение и под наблюдение психиатра, Бладма поучаствовал в массовой драке, за которую попал под следствие по обвинению в хулиганстве (ст. 213 УК РФ). Суд, учитывая инвалидность и амбулаторное лечение, ограничился в отношении мужчины домашним арестом.
Эта мера пресечения не стала помехой для участия Андрея Пронского, по версии СКР, уже в террористической организации (ст. 205.5 УК РФ). Ее члены, считает следствие, по заданию украинских спецслужб готовили покушение на телеведущего Владимира Соловьева и других журналистов — в список входили также Дмитрий Киселев, Ольга Скабеева, Маргарита Симоньян, Тигран Кеосаян и Евгений Попов.
Шестерых человек, собиравшихся взорвать Владимира Соловьева вместе с его машиной с помощью самодельной бомбы, ФСБ задержала в апреле. Согласно материалам дела, заговор подозреваемых раскрыли, когда они только следили за телеведущим.
У меня возникает куча вопросов. Кто выпускает заведомо опасных преступников, и больных из психушек и тюрем? Это делается сознательно? Или это так называемое «гуманное» отношение к преступникам и больным , которые могут си совершают повторные преступления. А где гуманность к людям, которые живт в стране. Когда выпускают таких нелюдей из закрытых мест, риску подвергается любой человек в России.
Для чего это делается?
О наболевшем. Наливайки в жилых домах.mkv
Обсуждение депутатами Госдумы новых ограничений на продажу алкоголя в заведениях общепита в жилых домах взволновало бизнес. Федерация рестораторов и отельеров (ФРиО) предупредила законодателей, что из-за предлагаемых инициатив ущерб могут получить около 38% ресторанов и баров. В то же время регуляторы заявляют, что торговля спиртным в жилых домах уже ограничена.
“Ъ” ознакомился с письмом президента ФРиО Игоря Бухарова от 25 мая в комитет Госдумы по экономической политике с просьбой подключиться к рабочей группе по подготовке законопроекта о введении ограничений на продажу алкоголя для заведений в жилых домах.

Спикер Госдумы Вячеслав Володин 14 мая в Telegram-канале сообщил о множестве жалоб на работу так называемых наливаек в жилых домах, которые «торгуют алкоголем ночью как псевдокафе». Одновременно он поднял вопрос о запрете продажи спиртного такими точками в ночное время. Позднее стало известно, что в Госдуме планируется создать рабочую группу для разработки законопроекта по борьбе с подобными заведениями. В комитете Госдумы по экономической политике “Ъ” не ответили.

Как сказано в письме ФРиО, бизнес понимает озабоченность государства организациями, «использующими лазейки в законе для продажи алкоголя».

Но в жилых домах находится около 38% всех имеющих лицензию на продажу спиртного предприятий общепита.

И дополнительные ограничения в большей степени несут риски для добросовестных участников рынка, к которым нет претензий у жителей и контрольно-надзорных органов, сказано в письме. Кроме того, предупреждают во ФРиО, закрытие заведений общепита может негативно отразиться на развитии внутреннего туризма.    
{% endblock %}

