{% extends "base.html" %}

{% block title %}
	Головна сторінка
{% endblock %}

<body>
{% block content %}
	<header class="header" id="header">
		<div class="container">
			<div class="row d-flex align-items-center">	
				<div class="col-3 col-md-4 col-lg-2">
		  			<a href="index.html">
						<img class="img-fluid logo" src="{{url_for('static', filename='img/low.png')}}" alt="logo">
		  			</a>
				</div>
  				<!-- Поле пошуку -->
				<div class="col-9 serh d-lg-flex col-md-8 col-lg-7 flex items-center">
					<div class="search-wrapper">
					  	<input type="text" placeholder="Пошук..." class="search-input" />
					  	<button class="search-button">🔍</button>
				  	</div>
			  	</div>
				<div class="col-12 reg-in col-md-12 d-lg-flex col-lg-3 justify-content-end align-items-center menu-collapse">
		  		<!-- Меню -->
		  			<nav class="menu">
						<ul class="menu__list d-flex">
			  				<li class="menu__item">
								<a class="menu__registr" href="#">Реестрація</a>
			  				</li>
			  				<li class="menu__item">
								<a class="menu__exit" href="#">Вхід</a>
			  				</li>
						</ul>
		  			</nav>
				</div>
	  		</div>
		</div>
  	</header>

    <section class="offer" id="offer" data-type="background" data-speed="5">
		<div class="header-back"></div>
		<div class="back"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="offer-title">
						Комунальний заклад <br>
						"Татарбунарський будинок дитячої та юнацької творчості" <br>
						Татарбунарської  міської  ради  Одеської  області
					</h1>
					<p class="offer-desc">
						Будинок творчості, наш рідний дім,<br>
						Гостинно двері ти нам відчиняєш.<br>
						Зігріті ми любов’ю і теплом твоїм,<br>
						Прекрасними людьми<br>
						у стінах цих зростаєм.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="cal">
		<div class="container">
			<div class="row">
				<div class="center d-flex col-sm-12 col-md-6"> 
					<div class="calendar-wrapper">
				    	<button id="btnPrev" type="button">Попередній</button>
				    	<button id="btnNext" type="button">Наступний</button>
					 	<div id="divCal"></div>
					 	<a href="#" class="podii">Всі подіі цього місяця</a>
					</div>
					<script type="text/javascript">
						var Cal = function(divId) {
					  		//Зберігаємо ідентифікатор div
					  		this.divId = divId;
					  		//Дні тижня з понеділка
					  		this.DaysOfWeek = [
					    		'Пн',
					    		'Вт',
					    		'Ср',
					    		'Чт',
					    		'Пт',
					    		'Сб',
					    		'Нд'
					 		];
					  		// Місяці починая з січня
					  		this.Months =['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'];
					  		// Поточний місяц, рік
					  		var d = new Date();
					  		this.currMonth = d.getMonth();
					  		this.currYear = d.getFullYear();
					  		this.currDay = d.getDate();
						};
						// Перехід до наступного місяця
						Cal.prototype.nextMonth = function() {
					  		if ( this.currMonth == 11 ) {
					    		this.currMonth = 0;
					    		this.currYear = this.currYear + 1;
					  		}
					  		else {
					    		this.currMonth = this.currMonth + 1;
					  		}
					  		this.showcurr();
						};
						// Перехід до попереднього місяця
						Cal.prototype.previousMonth = function() {
					  		if ( this.currMonth == 0 ) {
					    		this.currMonth = 11;
					    		this.currYear = this.currYear - 1;
					  		}
					  		else {
					    		this.currMonth = this.currMonth - 1;
					  		}
					  		this.showcurr();
						};

						// Показати поточний місяць
						Cal.prototype.showcurr = function() {
					  		this.showMonth(this.currYear, this.currMonth);
						};
						// Показати місяць (рік, місяць)
						Cal.prototype.showMonth = function(y, m) {
					  		var d = new Date()
					  		// Перший день неділі в обраному місяці
					  		, firstDayOfMonth = new Date(y, m, 7).getDay()
					  		// Останній день в обраному місяці
					  		, lastDateOfMonth =  new Date(y, m+1, 0).getDate()
					  		// Останній день попереднього місяця
					  		, lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();
					  		var html = '<table>';
					  		// Запис обраного місяця і року
					  		html += '<thead><tr>';
					  		html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
					  		html += '</tr></thead>';
					 		// Заголовок днів неділі
					  		html += '<tr class="days">';
					  		for(var i=0; i < this.DaysOfWeek.length;i++) {
					    		html += '<td>' + this.DaysOfWeek[i] + '</td>';
					  		}
					  		html += '</tr>';
					  		// Записуємо дні
					  		var i=1;
					  		do {
					    		var dow = new Date(y, m, i).getDay();
					    		// Почати новий рядок з понеділка
					    		if ( dow == 1 ) {
					      			html += '<tr>';
					    		}
					    		// Якщо перший день неділі не понеділок, то показати останні дні попереднього місяця
					    		else if ( i == 1 ) {
					      			html += '<tr>';
					      			var k = lastDayOfLastMonth - firstDayOfMonth+1;
					      			for(var j=0; j < firstDayOfMonth; j++) {
					        			html += '<td class="not-current">' + k + '</td>';
					        			k++;
					      			}
					    		}
					    		// Записуємо поточний день у цикл
								var chk = new Date();
								var chkY = chk.getFullYear();
								var chkM = chk.getMonth();
								if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
							  		html += `<td class="today"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
								} else {
							  		html += `<td class="normal"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
								}
					    		// Закриваємо рядок у неділю
					    		if ( dow == 0 ) {
					      			html += '</tr>';
					    		}
					    		// Якщо останній день місяця не неділя, то показуємо перші дні наступного місяця
					    		else if ( i == lastDateOfMonth ) {
					      			var k=1;
					      			for(dow; dow < 7; dow++) {
					        			html += '<td class="not-current">' + k + '</td>';
					        			k++;
					      			}
					    		}
					    		i++;
					  		}
							while(i <= lastDateOfMonth);
					  		// Кінець таблиці
					  		html += '</table>';
					  		// Записуємо HTML у div
					  		document.getElementById(this.divId).innerHTML = html;
						};
						// При завантажуванні вікна
						window.onload = function() {
					  		// Почати календар
					  		var c = new Cal("divCal");			
					  		c.showcurr();
					  		// Прив'язуємо кнопки "Наступний" та "Попередній"
					  		getId('btnNext').onclick = function() {
					    		c.nextMonth();
					  		};
					  		getId('btnPrev').onclick = function() {
					    		c.previousMonth();
					  		};
						}
						// Отримати елемент по id
						function getId(id) {
					  		return document.getElementById(id);
						}
					</script>
         		</div>
				<div class="d-flex col-sm-12 col-md-6 main-slide m-auto">
					<div class="slide-block">
						<img src="{{url_for('static', filename='img/photo_2024-12-26_23-22-22.jpg')}}" class="slide-block__img"></img>
					</div>
					<div class="slide-block">
						<img src="{{url_for('static', filename='img/002.jpg')}}" class="slide-block__img"></img>
					</div>
					<div class="slide-block">
						<img src="{{url_for('static', filename='img/003.jpg')}}" class="slide-block__img"></img>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block ModalWindows %}
	<!-- Модальні вікна -->
	<div style="display: none;"> <!--   Вікно реестрації   -->
    	<div class="box-modal" id="exampleModal-1">
        	<div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}"></div>
        		<form method="post" action="/success.php" class="modal-1__form d-flex flex-column js-form" id="popupResult-1">
	        		<div class="modal-1__block-input d-flex flex-column">
	        			<input id="login-f1" class="modal-input" type="text" name="login" placeholder="Логін">
	        			<input id="name-f1" class="modal-input" type="text" name="name" placeholder="Ім'я">
	        			<input id="surname-f1" class="modal-input" type="text" name="surname" placeholder="Призвіще">
	        			<input id="tel-f1" class="modal-input" type="text" name="tel" placeholder="Телефон">
		        		<select name="class" class="class">
		         			<option value="0">Оберіть клас!</option>
							<option value="1">Клас 1</option>
							<option value="2">Клас 2</option>
							<option value="3">Клас 3</option>
							<option value="4">Клас 4</option>
							<option value="5">Клас 5</option>
							<option value="6">Клас 6</option>
						</select>
						<p class="radio-text">Хто ви?<br>
							Зробіть свій вибір!
						</p>
						<div class="container-radio d-flex">
					  		<div class="radio d-flex">
					  			<label for="radio-1" class="radio-label">Вчитель</label>
					    		<input id="radio-1" name="radio" type="radio">
					  		</div>
					  		<div class="radio d-flex">
					  			<label  for="radio-2" class="radio-label">Учень</label>
					    		<input id="radio-2" name="radio" type="radio">
					  		</div>
					  		<div class="radio d-flex">
					  			<label for="radio-3" class="radio-label">Батьки</label>
					    		<input id="radio-3" name="radio" type="radio">
					  		</div>
						</div>
						<input type="password" id="pass-f1" class="modal-input" name="password" minlength="6" placeholder="Введіть пароль">
						<button class="button modal-button" data-submit>
							Рееструватися
						</button>
					</div>
				</form>
    		</div>

			<div style="display: none;"> <!--   Вікно входу   -->
    			<div class="box-modal" id="exampleModal-2">
        			<div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}" class="close"></div>
        				<form action="/success.php" class="modal-2__form d-flex flex-column js-form" id="popupResult-2">
        					<div class="modal-2__block-input d-flex flex-column">
								<input id="name-f2" class="modal-input" type="text" name="name" placeholder="Логін">
								<input type="password" id="pass-f2" class="modal-input" name="password" minlength="6" placeholder="Введіть пароль">
							</div>
							<button class="button modal-button" data-submit>
								Увійти
							</button>
        				</form>
    				</div>
				</div>


				<div style="display: none;"> <!--   Вікно кліка на дні у календарі   -->
    				<div class="box-modal" id="exampleModal-3">
        				<div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}" class="close"></div>
        					<div>
        						<div class="date">
        							<p>Сюди повинна потрапляти поточна дата</p>
        						</div>
        					<div>
        					<h2 class="event-title">
        						Загальні батьківські збори
        					</h2>
        					<p class="event-desc">
        						Місце проведення: БДЮТ (актова зала)
        					</p>
        					<p class="event-desc">
        						Час проведення: 18:00
        					</p>
        				</div>	
<!--        			<div class="desc-date">
        					<p>Події відсутні</p>
        				</div>  -->
        			</div>
    			</div>
			</div>

			<div style="display: none;"> <!--   Вікно усіх загальних подій   -->
    			<div class="box-modal" id="exampleModal-4">
        			<div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}" class="close"></div>
       					<div class="date">
     						<p>Сюди повиннен потрапляти поточний місяць</p>
     					</div>
     					<ul class="list-event">
     						<li>
								<p>
									1
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									2
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									3
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									4
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									5
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									6
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									7
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									8
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									9
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									10
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									11
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									12
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									13
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									14
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									15
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									16
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li class="activ-event-day">
								<p>
									17
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									18
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									19
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									20
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									21
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									22
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									23
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									24
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									25
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									26
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									27
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									28
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									29
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									30
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     						<li>
								<p>
									31
								</p>
     							<p>
									Сюди потрапляють всі загальні події
								</p>
     						</li>
     					</ul>
    				</div>
				</div>
			</div>
		{% endblock %}
</body>
</html>