{% extends "base.html" %}

{% block title %}
	сторінка для батьків
{% endblock %}

<body>
	{% block content %}
	<header class="header" id="header">
  		<div class="container">
    		<div class="row d-flex align-items-center">
      			<div class="col-3 col-md-4 col-lg-2">
        			<a href="index.html">
						<img class="img-fluid logo" src="{{url_for('static', filename='img/low.png')}}" alt="logo">
        			</a>
      			</div>
				<!-- Поле пошуку -->
     			<div class="col-9 serh d-lg-flex col-md-8 col-lg-7 flex items-center">
		   			<div class="search-wrapper">
						<input type="text" placeholder="Пошук..." class="search-input" />
						<button class="search-button">🔍</button>
					</div>
				</div>
      			<div class="col-12 reg-in col-md-12 d-lg-flex col-lg-3 justify-content-end align-items-center menu-collapse">
        		<!-- Меню -->
        			<nav class="menu">
          				<ul class="menu__list d-flex">
            				<li class="menu__item">
              					<p>Ім'я Призвіще (<span>Логін</span>)</p> <!-- Сюди повинні потрапляти дані з форми реестрації -->
            				</li>
          				</ul>
        			</nav>
      			</div>
    		</div>
  		</div>
	</header>

	<section class="title-b">
		<div class="header-back"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Шановні батьки!</h2>
					<p>Раді вітати Вас на сайті КЗ «Будинок дитячої та юнацької творчості»! <br>
					Можите оглянути профілі учнів класу, який ви обрали при реестрації, переглянути останні оцінки учнів за виконані особисті, або гуртові завдання, 
					подивитися заплановані класом події та переглянути заплановані, або вже пройдешні загальні події усього закладу.<br>
					Позашкільна освіта – це більше, ніж просто додаткові знання чи навички.<br>
					Це фундамент, який формує гармонійну особистість, розвиває творчий потенціал і готує молодь до викликів сучасного світу.<br>
					В умовах, коли формальна освіта часто зосереджується на академічних результатах, позашкільна освіта пропонує можливості для самовираження, 
					саморозвитку та набуття практичних компетенцій.<br>
					Художні гуртки, спортивні секції, технічні студії та волонтерські програми стають простором, де діти й молодь відкривають свої таланти, 
					вчаться працювати в команді та знаходять своє місце в суспільстві.<br>
					Це також ефективний інструмент соціалізації, особливо для дітей із малозабезпечених родин, сільської місцевості чи з особливими потребами.<br>
					Позашкільна освіта є тим містком, що об’єднує інтереси дітей, батьків, педагогів і громади, сприяючи формуванню цілісного, здорового суспільства.<br>
					Заохочуйте своїх дітей вивчати цікаві для них теми. Дайте їм час зайнятися тим, що у них добре виходить. Це буде мати велике значення для того,
					щоб прищепити вашій дитині загальну любов до навчання.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="cal-2">
		<div class="container">
			<div class="row">
				<div class="center d-flex col-sm-12 col-md-6"> 
					<div class="calendar-wrapper">
				    	<button id="btnPrev" type="button">Попередній</button>
				    	<button id="btnNext" type="button">Наступний</button>
					 	<div id="divCal"></div>
					 	<a href="#" class="podii-2">Всі подіі цього місяця</a>
					</div>
					<script type="text/javascript">
						var Cal = function(divId) {
					  		//Зберігаємо ідентифікатор div
					  		this.divId = divId;
					  		//Дні тижня з понеділка
					  		this.DaysOfWeek = [
					    		'Пн',
					    		'Вт',
					    		'Ср',
					    		'Чт',
					    		'Пт',
					    		'Сб',
					    		'Нд'
					  		];
					  		// Місяці починая з січня
					  		this.Months =['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'];
					  		// Поточний місяц, рік
					  		var d = new Date();
					  		this.currMonth = d.getMonth();
					  		this.currYear = d.getFullYear();
					  		this.currDay = d.getDate();
						};
						// Перехід до наступного місяця
						Cal.prototype.nextMonth = function() {
					  		if ( this.currMonth == 11 ) {
					    		this.currMonth = 0;
					    		this.currYear = this.currYear + 1;
					  		}
					  		else {
					    		this.currMonth = this.currMonth + 1;
					  		}
					  		this.showcurr();
						};
						// Перехід до попереднього місяця
						Cal.prototype.previousMonth = function() {
					  		if ( this.currMonth == 0 ) {
					    		this.currMonth = 11;
					    		this.currYear = this.currYear - 1;
					  		}
					  		else {
					    		this.currMonth = this.currMonth - 1;
					 		}
					  		this.showcurr();
						};
						// Показати поточний місяць
						Cal.prototype.showcurr = function() {
					  		this.showMonth(this.currYear, this.currMonth);
						};
						// Показати місяць (рік, місяць)
						Cal.prototype.showMonth = function(y, m) {
					  		var d = new Date()
					  		// Перший день неділі в обраному місяці
					  		, firstDayOfMonth = new Date(y, m, 7).getDay()
					  		// Останній день в обраному місяці
					  		, lastDateOfMonth =  new Date(y, m+1, 0).getDate()
					  		// Останній день попереднього місяця
					  		, lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();
					  		var html = '<table>';
					  		// Запис обраного місяця і року
					  		html += '<thead><tr>';
					  		html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
					  		html += '</tr></thead>';
					  		// Заголовок днів неділі
					 		html += '<tr class="days">';
					  		for(var i=0; i < this.DaysOfWeek.length;i++) {
					    		html += '<td>' + this.DaysOfWeek[i] + '</td>';
					  		}
					  	html += '</tr>';
					  	// Записуємо дні
					  	var i=1;
					  	do {
					    	var dow = new Date(y, m, i).getDay();
					    	// Почати новий рядок з понеділка
					    	if ( dow == 1 ) {
					      		html += '<tr>';
					    	}
					    	// Якщо перший день неділі не понеділок, то показати останні дні попереднього місяця
					    	else if ( i == 1 ) {
					      		html += '<tr>';
					      		var k = lastDayOfLastMonth - firstDayOfMonth+1;
					      		for(var j=0; j < firstDayOfMonth; j++) {
					        		html += '<td class="not-current">' + k + '</td>';
					        		k++;
					      		}
					    	}
					    	// Записуємо поточний день у цикл
							var chk = new Date();
							var chkY = chk.getFullYear();
							var chkM = chk.getMonth();
							if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
							  html += `<td class="today"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
							} else {
							  html += `<td class="normal"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
							}
					    	// Закриваємо рядок у неділю
					    	if ( dow == 0 ) {
					      		html += '</tr>';
					    	}
					    	// Якщо останній день місяця не неділя, то показуємо перші дні наступного місяця
					    	else if ( i == lastDateOfMonth ) {
					      		var k=1;
					      		for(dow; dow < 7; dow++) {
					        		html += '<td class="not-current">' + k + '</td>';
					        		k++;
					      		}
					    	}
					    	i++;
					  		}while(i <= lastDateOfMonth);
					  		// Кінець таблиці
					  		html += '</table>';
					  		// Записуємо HTML у div
					  		document.getElementById(this.divId).innerHTML = html;
						};
						// При завантажуванні вікна
						window.onload = function() {
					  		// Почати календар
					  		var c = new Cal("divCal");			
					  		c.showcurr();
					  		// Прив'язуємо кнопки "Наступний" та "Попередній"
					  		getId('btnNext').onclick = function() {
					    		c.nextMonth();
					  		};
					  		getId('btnPrev').onclick = function() {
					    		c.previousMonth();
					  		};
						}
						// Отримати елемент по id
						function getId(id) {
					  		return document.getElementById(id);
						}
					</script>
         		</div>
         		<div class="center col-sm-12 col-md-6"> 
	      			<div class="students">
	      				<div class="students-title">
	      					<h2>Компьютерний клас</h2> <!-- Сюди повинні потрапляти дані з форми реестрації -->
	      				</div>
						<ul class="stud-list">
							<!-- При кліку на учня, повинна відкриватися сторінка саме того учня, якого обирае користувач -->
							<!-- В адресу посилання повинна потрапляти інформація із БД на сторінку учня -->
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<li class="student-item-link"><a href="#">Ім'я Призвіще (<span>Логін</span>)</a> <!-- Сюди повинні потрапляти дані з форми реестрації --></li>
							<!-- Сюди додаються нові учні в якості нового пункту в тегі <li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}

	{% block ModalWindows %}

	<!-- Модальні вікна -->
<div style="display: none;"> <!--      -->
    <div class="box-modal" id="exampleModal-12">
        <div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}" class="close"></div>
        <div>
        		<div>
        		<div class="date">
        			<p>Сюди повинна потрапляти поточна дата</p>
        		</div>
        		<div>
        			<h2 class="event-title">
        				Загальні батьківські збори
        			</h2>
        			<p class="event-desc">
        				Місце проведення: БДЮТ (актова зала)
        			</p>
        			<p class="event-desc">
        				Час проведення: 18:00
        			</p>
        		</div>
        </div>
    </div>
</div>

<div style="display: none;"> <!--   Вікно усіх загальних подій в кабінеті учня   -->
    <div class="box-modal" id="exampleModal-13">
        <div class="box-modal_close arcticmodal-close"><img src="{{url_for('static', filename='img/close.png')}}" class="close"></div>
       	<div class="date">
     			<p>Сюди повиннен потрапляти поточний місяць</p>
     		</div>
     		<ul class="list-event">
     			<li><p>1</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>2</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>3</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>4</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>5</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>6</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>7</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>8</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>9</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>10</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>11</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>12</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>13</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>14</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>15</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>16</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>17</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>18</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>19</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>20</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>21</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>22</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>23</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>24</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>25</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>26</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>27</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>28</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>29</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>30</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>31</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     		</ul>
    	</div>
	</div>
{% endblock %}
</body>
</html>