{% extends "base.html" %}

{% block title %}
	сторінка для дітей
{% endblock %}

<body>
	{% block content %}
	<header class="header" id="header">
  		<div class="container">
    		<div class="row d-flex align-items-center">
      			<div class="col-3 col-md-4 col-lg-2">
        			<a href="index.html">
						<img class="img-fluid logo" src="{{url_for('static', filename='img/low.png')}}" alt="logo">
		  			</a>
      			</div>
				<!-- Поле пошуку -->
     			<div class="col-9 serh d-lg-flex col-md-8 col-lg-7 flex items-center">
		  			<div class="search-wrapper">
						<input type="text" placeholder="Пошук..." class="search-input" />
						<button class="search-button">🔍</button>
					</div>
				</div>
      			<div class="col-12 reg-in col-md-12 d-lg-flex col-lg-3 justify-content-end align-items-center menu-collapse">
        		<!-- Меню -->
        			<nav class="menu">
          				<ul class="menu__list d-flex">
            				<li class="menu__item">
              					<p>Ім'я Призвіще (<span>Логін</span>)</p> <!-- Сюди повинні потрапляти дані з форми реестрації -->
            				</li>
          				</ul>
        			</nav>
      			</div>
    		</div>
  		</div>
	</header>

	<section class="cal-3">
		<div class="container">
			<div class="row">
				<div class="center col-12 col-lg-6"> 
	      			<div class="students">
	      				<div class="students-title">
	      					<h2>Компьютерний клас</h2> <!-- Сюди повинні потрапляти дані з форми реестрації -->
	      				</div>
					</div>
					<div class="desk-main">
						<div class="img-main">
							<img src="img/168724.png" class="avatar" alt=""> <!-- Потрібно завантажити зображення натиснувши кнопку нижче -->
		               		<input id="file-input" type="file" name="file" multiple>
	          			</div>
			          	<div class="text-main">
			          		<p class="date-main">Дата народження:<span class="date-main-main">01.01.2001</span></p>
			          		<p class="desk-main-text">Про себе:</p>
			          		<p class="desk-main-text-text">Характеристика на учня - це документ, 
								який являє собою оцінку соціальних, 
								психологічних та інших особистих 
								якостей, рис характеру школяра. 
								Характеристика учня складається для 
								нового викладача з метою знаходження 
								індивідуального підходу до нього і 
								налагодження роботи з ним чи для 
								надання в інший навчальний заклад.
							</p>
							<a href="#" class="in-desk-info">Редагувати інфо</a>
			          	</div>
					</div>
				</div>	
				<div class="center d-flex col-12 col-lg-6"> 
					<div class="calendar-wrapper">
				    	<button id="btnPrev" type="button">Попередній</button>
				    	<button id="btnNext" type="button">Наступний</button>
					 	<div id="divCal"></div>
					 	<a href="#" class="podii-2">Всі подіі цього місяця</a>
					</div>
					<script type="text/javascript">
						var Cal = function(divId) {
					  		//Зберігаємо ідентифікатор div
					  		this.divId = divId;
					  		//Дні тижня з понеділка
					  		this.DaysOfWeek = [
					    		'Пн',
					    		'Вт',
					    		'Ср',
					    		'Чт',
					    		'Пт',
					    		'Сб',
					    		'Нд'
					  		];
					  		// Місяці починая з січня
					  		this.Months =['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'];
					  		// Поточний місяц, рік
					  		var d = new Date();
					  		this.currMonth = d.getMonth();
					  		this.currYear = d.getFullYear();
					  		this.currDay = d.getDate();
						};
						// Перехід до наступного місяця
						Cal.prototype.nextMonth = function() {
					  		if ( this.currMonth == 11 ) {
					    	this.currMonth = 0;
					    	this.currYear = this.currYear + 1;
					  	}
					  	else {
					    	this.currMonth = this.currMonth + 1;
					  	}
					  	this.showcurr();
					};
					// Перехід до попереднього місяця
					Cal.prototype.previousMonth = function() {
					  	if ( this.currMonth == 0 ) {
					    	this.currMonth = 11;
					    	this.currYear = this.currYear - 1;
					  	}
					  	else {
					    	this.currMonth = this.currMonth - 1;
					  	}
					  	this.showcurr();
					};
					// Показати поточний місяць
					Cal.prototype.showcurr = function() {
					  	this.showMonth(this.currYear, this.currMonth);
					};
					// Показати місяць (рік, місяць)
					Cal.prototype.showMonth = function(y, m) {
					  var d = new Date()
					  // Перший день неділі в обраному місяці
					  , firstDayOfMonth = new Date(y, m, 7).getDay()
					  // Останній день в обраному місяці
					  , lastDateOfMonth =  new Date(y, m+1, 0).getDate()
					  // Останній день попереднього місяця
					  , lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();
					  var html = '<table>';
					  // Запис обраного місяця і року
					  html += '<thead><tr>';
					  html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
					  html += '</tr></thead>';
					  // Заголовок днів неділі
					  html += '<tr class="days">';
					  for(var i=0; i < this.DaysOfWeek.length;i++) {
					    html += '<td>' + this.DaysOfWeek[i] + '</td>';
					  }
					  html += '</tr>';
					  // Записуємо дні
					  var i=1;
					  do {
					    var dow = new Date(y, m, i).getDay();
					    // Почати новий рядок з понеділка
					    if ( dow == 1 ) {
					      html += '<tr>';
					    }
					    // Якщо перший день неділі не понеділок, то показати останні дні попереднього місяця
					    else if ( i == 1 ) {
					      html += '<tr>';
					      var k = lastDayOfLastMonth - firstDayOfMonth+1;
					      for(var j=0; j < firstDayOfMonth; j++) {
					        html += '<td class="not-current">' + k + '</td>';
					        k++;
					      }
					    }
					    // Записуємо поточний день у цикл
							var chk = new Date();
							var chkY = chk.getFullYear();
							var chkM = chk.getMonth();
							if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
							  html += `<td class="today"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
							} else {
							  html += `<td class="normal"><a href="#" class="but-block but-block-${i}">${i}</a></td>`;
							}
					    // Закриваємо рядок у неділю
					    if ( dow == 0 ) {
					      html += '</tr>';
					    }
					    // Якщо останній день місяця не неділя, то показуємо перші дні наступного місяця
					    else if ( i == lastDateOfMonth ) {
					      var k=1;
					      for(dow; dow < 7; dow++) {
					        html += '<td class="not-current">' + k + '</td>';
					        k++;
					      }
					    }
					    i++;
					  }while(i <= lastDateOfMonth);
					  // Кінець таблиці
					  html += '</table>';
					  // Записуємо HTML у div
					  document.getElementById(this.divId).innerHTML = html;
					};
					// При завантажуванні вікна
					window.onload = function() {
					  // Почати календар
					  var c = new Cal("divCal");			
					  c.showcurr();
					  // Прив'язуємо кнопки "Наступний" та "Попередній"
					  getId('btnNext').onclick = function() {
					    c.nextMonth();
					  };
					  getId('btnPrev').onclick = function() {
					    c.previousMonth();
					  };
					}
					// Отримати елемент по id
					function getId(id) {
					  return document.getElementById(id);
					}
				</script>
         </div>
		</div>
	</div>
</section>

<section class="rating-and-comment">
	<div class="header-back"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Особисте завдання:<span class="titel-h3">строк виконання</span><span class="title-date">25.05.2025</span></h3>
				<p> <!--   Сюди попадае коментар вчителя   -->
					Для виконання завдання, необхідно створити лендінг – пейдж сторінку, яка має за мету  інформування користувачів про 
					останні досягнення в галузі дослідження штучного інтелекту. Весь необхідний матеріал, для наповнення сайту відповідним
					 контентом розміщений у папці «Матеріал». Приклади вже створених сторінок можна побачити в папці «Приклади».
<br>
					Всі результати збережіть, будь ласка, на локальному диску D, в папку «Прізвище ім'я» (власне П.І.). Потрібні матеріали для 
					створення сайту скопіюйте з папки із завданням, тому що деякі з них містять підготовлений контент.
<br>
					При виконанні завдань можна користуватися таким програмним забезпеченням (ПЗ): Блокнот, Notepad++, Sublime Text, 
					Photoshop, Paint, Paint 3D, Denwer, Wordpress. При написанні текстових файлів (HTML/XHTML, CSS, JS, PHP) керуйтесь 
					веб-стандартами.
<br>
					Крім того, під час перевірки буде враховуватися чистота коду і доступність (зручність). Загальний стиль сайту повинен 
					бути діловим та сучасним. Не забувайте про верстку, сторінка повинна легко читатися: списки, короткі абзаци, відступи, 
					інфографіка замість довгого тексту.
				</p>
				<h3 class="teacher-evaluation">Оцінка за завдання <span class="grade-2">12</span></h3>	
			</div>
		</div>
	</div>
</section>

<section class="rating-and-comment-gr">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Гуртове завдання:<span class="titel-h3">строк виконання</span><span class="title-date">15.05.2025</span></h3>
				<p> <!--   Сюди попадае коментар вчителя   -->
					Для виконання завдання, необхідно створити лендінг – пейдж сторінку, яка має за мету  інформування користувачів про 
					останні досягнення в галузі дослідження штучного інтелекту. Весь необхідний матеріал, для наповнення сайту відповідним
					 контентом розміщений у папці «Матеріал». Приклади вже створених сторінок можна побачити в папці «Приклади».
<br>
					Всі результати збережіть, будь ласка, на локальному диску D, в папку «Прізвище ім'я» (власне П.І.). Потрібні матеріали для 
					створення сайту скопіюйте з папки із завданням, тому що деякі з них містять підготовлений контент.
<br>
					При виконанні завдань можна користуватися таким програмним забезпеченням (ПЗ): Блокнот, Notepad++, Sublime Text, 
					Photoshop, Paint, Paint 3D, Denwer, Wordpress. При написанні текстових файлів (HTML/XHTML, CSS, JS, PHP) керуйтесь 
					веб-стандартами.
<br>
					Крім того, під час перевірки буде враховуватися чистота коду і доступність (зручність). Загальний стиль сайту повинен 
					бути діловим та сучасним. Не забувайте про верстку, сторінка повинна легко читатися: списки, короткі абзаци, відступи, 
					інфографіка замість довгого тексту.
				</p>
				<h3 class="teacher-evaluation">Оцінка за завдання <span class="grade-2">8</span></h3>	
			</div>
		</div>
	</div>
</section>
{% endblock %}

<footer class="footer" id="footer">
	<div class="container">
		<div class="row">
			<div class=" col-f col-12">
				<div class="copyright d-flex justify-content-between">
						<a class="tel-link" href=""><i class="fa fa-phone-volume"></i>+38 (097) 77-77-777</a>
					<ul class="d-flex icon-soc">
						<li>
							<a href="" class="social-icon">
								<img src="img/inst.png">
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<img src="img/yutub.png">
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<img src="img/fb.png">
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<img src="img/telega.png">
							</a>
						</li>
					</ul>
						<a class="mail-link" href=""><i class="fa fa-envelope"></i>bdut@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>



	<!-- Модальні вікна -->

<div style="display: none;"> <!--      -->
    <div class="box-modal" id="exampleModal-12">
        <div class="box-modal_close arcticmodal-close"><img src="img/close.png" class="close"></div>
        <div>
        		<div>
        		<div class="date">
        			<p>Сюди повинна потрапляти поточна дата</p>
        		</div>
        		<div>
        			<h2 class="event-title">
        				Загальні батьківські збори
        			</h2>
        			<p class="event-desc">
        				Місце проведення: БДЮТ (актова зала)
        			</p>
        			<p class="event-desc">
        				Час проведення: 18:00
        			</p>
        		</div>
        </div>
    </div>
</div>

<div style="display: none;"> <!--   Вікно усіх загальних подій в кабінеті учня   -->
    <div class="box-modal" id="exampleModal-13">
        <div class="box-modal_close arcticmodal-close"><img src="img/close.png" class="close"></div>
       	<div class="date">
     			<p>Сюди повиннен потрапляти поточний місяць</p>
     		</div>
     		<ul class="list-event">
     			<li><p>1</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>2</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>3</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>4</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>5</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>6</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>7</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>8</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>9</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>10</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>11</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>12</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>13</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>14</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>15</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>16</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>17</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>18</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>19</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>20</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>21</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>22</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>23</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>24</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>25</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>26</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>27</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li class="activ-event-day"><p>28</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>29</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>30</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     			<li><p>31</p>
     				<p>Сюди потрапляють всі загальні події</p>
     			</li>
     		</ul>
    </div>
</div>

<div style="display: none;"> <!--      -->
    <div class="box-modal" id="exampleModal-14">
        <div class="box-modal_close arcticmodal-close"><img src="img/close.png" class="close"></div>
        		<textarea name="date-of-birth" class="date-of-birth" id="" placeholder="Оновіть свою дату народження"></textarea>
        		<textarea name="info-student-form" class="info-student-form" id="" placeholder="Оновіть інформацію про себе"></textarea>
        		<button class="info-in-back">Оновити інформацію</button>
    </div>
</div>

	<!-- JQuery -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<!-- slick -->
	<script type="text/javascript" src="js/slick.min.js"></script>
	<!-- Parallax -->
	<script type="text/javascript" src="js/parallax-bg.js"></script>
	<!-- Pop-up window js -->
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<!-- Validate -->
	<script type="text/javascript" src="js/jquery.validate.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
</body>
</html>